body {
    margin: 10px;
    background-color: black;
}

#home {
    margin: -1cm -1cm 0cm -1cm;
    padding: 2cm 0cm 2cm 0cm;
    background-color: #CC66FF;
}

header {
    font-size: 30px;
    color: #E6E6FA;
    float: left;
    padding-left: 2cm;
}

#navBtnsDiv {
    float: right;
    padding-right: 1cm;
}

.navBtns {
    color: lightgray;
    background-color: darkmagenta;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
}

.navBtns:hover {
    color: white;
    font-weight: bolder;
    background-color: #382742;
    text-decoration: underline;
}

#all-conversion-sections {
    display: grid;
    justify-content: center;
}

figure {
    float: left;
    justify-content: center;
    width: 200px;
}

image {
    width: 200px;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;    
}

button#temperature,
button#weight,
button#distance {
    font-size: 20px;
    border-radius: 40px;
    border: transparent;
    width: fit-content;
    background-color: lightgreen;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
}

button#temperature:hover,
button#weight:hover,
button#distance:hover {
    cursor: pointer;
}

div#tmp,
div#wgt,
div#dist {
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin: 25px 0 25px 0;
    display: flex;
}

#tmp {
    border-top: green;
}

#wgt {
    border-top: coral;
}

#dist {
    border-top: cyan;
}

legend {
    font-size: 30px;
    font-weight: bold;
}

article {
    align-self: center;
}

fieldset {
    margin-bottom: 10px;
}

input[type="number"] {
    margin-bottom: 15px;
}

#go-home {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;  
    left: 20px;   
    z-index: 1000;
}

footer {
    background-color:rgb(240, 234, 245);
    margin-top: 20px;
}
